.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.px-sm {
  padding-block: var(--px-sm);
}

.px-base {
  padding-block: var(--px-base);
}

.py-xs {
  padding-inline: var(--py-xs);
}

.py-sm {
  padding-inline: var(--py-sm);
}

.py-base {
  padding-inline: var(--py-base);
}

@media (width >= 80em) {
  .container {
    max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }
}